/*
* code attribution
* Title: site.css
* Author: Zahava Gopin
* Date: 22 February 2023
* Description: Styling for the personal portfolio site.  
*/
/*Styling for the whole site.*/
#banner {
    margin: -1% 0 0;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    background-color: #fdf4fc;
    color: black;
}
/*Styling for the header*/
#nav-container {
    margin: -16px 0 0 0;
    padding: 0;
    height: 30px;
    list-style-type: none;
    background-color: #6e4275;
}

#nav-list li {
    float: left;
    align-items: center;
    margin: 0;
    padding-left: 15px;
    width: auto;
list-style-type: none;
}

#nav-list li a {
    background-color: #6e4275;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    display: block;
}

#nav-list li a:hover {
    text-decoration: underline;
}
/*Styling for the footer*/
#footer { 
    text-align: center;
    background-color: #6e4275;
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#footer a:link {
    color: #fff;
    text-decoration: none;
}

#footer a:visited {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}
/*Styling for the main divs*/
.assign-container {
    padding: 10px;
    margin-bottom: 700px;
}


/*Font styling*/
h1{
    font-family: 'Playfair Display', serif;
}
h2{
    font-family: 'Dosis Regular', serif;
}
p{
    font-family: 'EB Garamond Regular', serif;
}
#caption{
   text-align: right;
   padding-right: 180px;
   color: gray;
}
/*Styling for the landing page*/
#background{
    background-image: url("background.jpg");
    padding: 0px;
    height: 700px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hi{
    width: 500px;
    padding-left: 200px;
}
.hello{
    font-size: 100px;
}
.name{
    font-size: 45px;;
}
.small{
    font-size: xx-small;
}
.List{
    padding-right: 400px;
    float: right;
    padding-top: 125px;
}
.ListItems{
    list-style-type: none;
}

/*Styling for the about page */

.aboutText{
    text-align: justify;
    line-height:  1.8em;
    float: left;
    max-width: 500px;
    margin-top: 10%;
    margin-left: 15%;
    padding: 20px;
    background-color: #fdf4fc;
    max-height: 275px;
}
.img{
    padding-top: 100px;
}
/*Styling for resume page*/
.resume{
    text-align: center;
}

.resumeList{
    list-style-type: none;
    text-align: justify;
    padding-left: 40%;
    background-color: #fdf4fc;
}
#pdfResume{
    float: right;
    text-decoration: none;
    color: gray;
}
#pdfResume:hover{
    text-decoration: underline;
    color: black;
}
/*Styling for project page of site*/
.border{
    border: #6e4275;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fdf4fc;
}
.column {
    float: left;
    width: 30%;
    padding-left: 20px;
    margin-bottom: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
