
#banner {
    margin: -1% 0 0;
    padding-top: 10px;
    text-align: center;
    height: 100px;
    background-color: #fdf4fc;
    color: black;
}

#nav-container {
    margin: -16px 0 0 0;
    padding: 0;
    height: 30px;
    list-style-type: none;
    background-color: #6e4275;
}

#nav-list li {
    float: left;
    align-items: center;
    margin: 0;
    padding-left: 15px;
    width: auto;
list-style-type: none;
}

#nav-list li a {
    background-color: #6e4275;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    display: block;
}

#nav-list li a:hover {
    color: white;
    background-color: #6e4275;
    cursor: pointer;
}

#footer {
font-size: x-small;   
 text-align: center;
    height: 50px;
    padding: 15px 0 15px 0;
    font-style: italic;
    background-color: #6e4275;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

#footer a:link {
    color: #fff;
    text-decoration: none;
}

#footer a:visited {
    color: #fff;
}

#footer a:hover {
  color: #6e4275;
    background-color: white;
}

.assign-container {
    padding: 10px;
}

.assign-content {
    width: 600px;
    margin: 3% auto 0;
}